# python
__pycache__

# app folders
models/*
!models/.gitkeep
# image test result
images_test_results/*.png
# input images to generate samples from
images_raw/*
!images_raw/.gitkeep
# generated samples
samples_gen*
!samples_gen_*/.gitkeep
