# python
__pycache__

# app folders
models/*.pt
# image test result
images_test_results/*.png
# input images to generate samples from
images_raw/*
!images_raw/.gitkeep
# generated samples: 64x64 px
samples_gen_64/*
!samples_gen_64/.gitkeep
