/Library
/Logs
/Recordings
/Temp
/UserSettings
/*.blob

/Plugin/.build
/Plugin/.xcodebuild

*.csproj
*.sln

# my
Packages/com.unity.render-pipelines.high-definition-config
Assets/Oculus
# raw resources
*.fbx
*.wav
*.jpg
*.png
*.tif
*.exr
# unity resources
*.meta
*.shadergraph
*.shadersubgraph
*.mat
*.controller
*.anim
*.asset
